/* navbar */
body .bg-light{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white!important;
    box-shadow: 0 4px 10px -2px rgba(0,0,0,.2);
    z-index: 1;
    box-sizing: border-box;    
}
.nav-link{
    transition: transform 0.2s ease; /* Add a smooth transition effect */

}
.nav-link:hover{
    background-color: rgb(255, 104, 104);
    transition: transform 0.2s ease; /* Add a smooth transition effect */

}
/* first part */
.box{
    background-color: rgba(248,249,250,1);
    position: relative;
    bottom: 40px;
    /*position: relative;
    z-index: -1; */
}

.img-fluid{
    object-fit: cover;
    height: 700px;
}
.top{
    font-size: 50px;
    color: rgb(109, 94, 45);
}
.button1{
    background-color: red;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* new products */
.card{
    overflow: hidden;
    
}
.card-body{
    text-align: center;
}
.card-text{
    color: red;
}
.card-img-top{
    /* transition: transform 0.2s ease; Add a smooth transition effect */
    /* transform: scale(1);
    transition: .3s ease-in-out;
    cursor: pointer; */
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card-img-top:hover{
    /* transform: scale(1.1); */
    /* transition: 0.2s; */
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/* end section 2 and start images section*/

.images{
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
}
.images img{
    max-width: 600px;
    height: 550px;
    /* -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; */
}

.s1{
    width: 600px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.s1:hover{
    -webkit-transform: scale(1.07);
	transform: scale(1.07);
    opacity: .75;

}
.s2{
    width: 300px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.s2:hover{
    -webkit-transform: scale(1.07);
	transform: scale(1.07);
    opacity: .75;
}
.swar{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}
.swar img{
    height: 270px;
    width: 300px;
    margin-bottom: 10px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}
.swar img:hover{
    opacity: .75;
    -webkit-transform: scale(1.07);
	transform: scale(1.07);
}
/* end section 3 and start section 4(shop) */
.shop .card{
    margin-bottom: 20px;
    border-bottom: 2px rgb(245, 58, 58) solid;
}
.shop .card-body h5{
    margin-bottom: 17px;
    font-weight: bold;
    font-size: larger;
}
/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 13px;
    padding: 10px;
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
.card:hover .overlay{
    opacity: 1;
    background-color: red;
}

.me-md-2{
    background-color: red;
    border: none;
}
.me-md-2:hover{
    background-color: rgb(250, 67, 67);
}
.photo{
    height: 600px;
    width: 600px;
}
.descr{
    font-size: 14.1px;
}
.btfooter:hover{
    background-color: white;
    /* width: 60px; */
}
.mb-3 h5{
    margin-bottom: 15px;
}
.text-body-secondary span{
    font-weight: bold;
    color: rgb(204, 101, 101) ;
}